.cache/
.vs/
build/
build-*/
dist/
release/
logs/
out/
docs/
tools/ghidra/
testdata/
user-test-images/

CMakeUserPresets.json

*.dll
*.exe
*.exp
*.lib
*.obj
*.pdb
*.log
*.zip

*.bmp
*.gif
*.jpeg
*.jpg
*.png
*.tif
*.tiff
*.webp

!assets/
!assets/gui.png
